body, html {
    overflow: hidden;
    display: flex;   
}
#container {
    width: 1280px;
    height: 720px;
    background-color: #ffffff;
    padding: 50px;
}
.main, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 592px;
    height: 404px;
    margin: 0 auto 100px auto;
    text-align: right; /* Para poder alinha o cabeçalho a esquerda*/
}
.footer {
    width: 592px;
    height: 36px;
    border-top: 2px solid #ECEFF2;
    margin: 0 auto 0 auto;
}
.container__main--aling, .container__footer--aling {
    text-align: center;
}
.main__image {
    margin-bottom: 20px;
}
#text__titulo {
    font-family: "Inter", sans-serif;
    font-size: 49px;
    display: inline;
    font-weight: normal /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/font-weight */
}
#text__paragrafo, #container__footer {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
#text__paragrafo {
    color: #7D7987;
    margin-top: 50px;
}
#container__footer {
    text-decoration: none;
    padding-top: 8px;
}
.text__titulo--color, .text__paragrafo--color, .footer__ancora--color {
    color: #299626;
}